.home {
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    .at-modal__content {
        min-height: 20px;
    }
}
.page-title {
    font-size: 32rpx;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    position: fixed;
    z-index: 100;
    margin-left: 20px
}
.robot-bg {
    width: 750px;
    height: 1040px;
    background-image: url(../../assets/images/robot-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.slogan-box {
    position: absolute;
    top: 704px;
    left: 0;
    width: 750px;
    height: 260px;
    background: linear-gradient(180deg, rgba(238,238,238,0) 0%, #FFFFFF 100%);
    z-index: 100;
    // border: 1px solid red;
    .box {
        width: 750px;
        height: 260px;
        background: url(../../assets/images/slogan-box.png) no-repeat;
        background-size: 100% 100%;
        padding: 30px 72px;
        .title {
            width: 288rpx;
            height: 56rpx;
            font-size: 36rpx;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #171717;
            line-height: 56rpx;
        }
        .content {
            width: 614rpx;
            height: 96rpx;
            font-size: 32rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #726060;
            line-height: 48rpx;
        }
    }
}

.btns {
    position: absolute;
    top: 1000px;
    left: 0;
    z-index: 200;
    width: 100%;
    .to-chat {
        width: 702rpx;
        height: 120rpx;
        background: #171717;
        border-radius: 24rpx;
    }
    .to-history {
        width: 256rpx;
        height: 48rpx;
        font-size: 32rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #171717;
        line-height: 48rpx;
        margin-top: 32px;
    }
}
