.audio-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: rgba(0,0,0,0.7);
	.bottom-mask {
		height: 250px;
		background: url(../../../../assets/images/audio-mask-bg.png) no-repeat center;
		background-size: 100% 100%;
		position: absolute;
		bottom: 0;
		z-index: 1000;
		width: 100%
	}
	.voice-icon {
		background: url(../../../../assets/images/voice-icon.png) no-repeat center;
		background-size: 100% 100%;
		width: 30px;
		height: 44px;
	}
	.music-wave-box {
		position: absolute;
		top: 894px;
		width: 302px;
		height: 200px;
		left: 224px;
	}
}

.audio-input {
	height: 100%;
	
}

.audio-icon {
    min-width: 52px;
    min-height: 52px;
    background: url('../../../../assets/images/input-icon.png') no-repeat center;
    background-size: contain;
}
.audio-btn {
	width: 100%;
	padding: 14px;
	margin-left: 24px;
	background: #FFFFFF;
	border-radius: 4rpx;
	height: 76px;
}