.vip {
    height: 100vh;
    overflow: hidden;
    .block1 {
        padding: 70px 30px 0;
        background: #110D06;
    }
    .no-vip {
        background-image: url(../../assets/images/vip-bg3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        width: 690px;
        height: 262px;
    }
    .block2 {
        background: #110D06;
        padding: 0 30px 90px;
        .bg {
            background-image: url(../../assets/images/vip-bg1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            width: 690px;
            height: 284px;
        }
    }
    .block3 {
        height: calc(100% - 650px);
        background: #fff;
        border: 1px solid red;
        position: relative;
        top: -40px;
        border-radius: 48px 48px 0px 0px
    }
}
