.flex {
    display: flex;
}

.fd-rr {
    flex-direction: row-reverse;
}

.flex-1 {
    flex: 1
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.fw-w {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-fs {
    justify-content: flex-start;
}
.jc-sb {
    justify-content: space-between;
}

.jc-a {
    justify-content: space-around;
}

.ai-c {
    align-items: center;
}

.ai-fs {
    align-items: flex-start;
}

.border-box {
    box-sizing: border-box;
}

.fd-c {
    flex-direction: column;
}

view {
    box-sizing: border-box;
}

.c-fff {
    color: #ffffff
}